<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>18/10/21 11:19:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001CreateLead@71423665]">createLead</td> 
  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/10/21 11:19:10</td>   <td>-1578</td> <td title="&gt;&gt;Reports.startResult()[pri:0, instance:testcases.TC001CreateLead@71423665]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/21 11:19:10</td>   <td>-666</td> <td>&nbsp;</td><td title="&gt;&gt;TC001CreateLead.testcaseValues()[pri:0, instance:testcases.TC001CreateLead@71423665]">&gt;&gt;testcaseValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
</table>
