<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2a371">  <td>18/10/21 11:32:09</td>   <td>0</td> <td title="&gt;&gt;Reports.startResult()[pri:0, instance:testcases.TC001CreateLead@6fc6f14e]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/21 11:32:10</td>   <td>834</td> <td>&nbsp;</td><td title="&gt;&gt;TC001CreateLead.testcaseValues()[pri:0, instance:testcases.TC001CreateLead@6fc6f14e]">&gt;&gt;testcaseValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/21 11:32:10</td>   <td>1530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001CreateLead@6fc6f14e]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/21 11:32:20</td>   <td>11068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001CreateLead@6fc6f14e]">createLead</td> 
  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/21 11:32:27</td>   <td>18753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.TC001CreateLead@6fc6f14e]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@846238611</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/10/21 11:32:30</td>   <td>20899</td> <td title="&lt;&lt;Reports.endResult()[pri:0, instance:testcases.TC001CreateLead@6fc6f14e]">&lt;&lt;endResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@846238611</td>   <td></td> </tr>
</table>
